@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: auto;
}
.link:hover{
  color: #ff5252;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}
.homeCatSlider {
  overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-prev {
  left: 0px;
}
.homeCatSlider .swiper-button-next {
  right: 0px;
}
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background-color: #ff5252;
}
.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: white;
}
 .MuiTabs-indicator{
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #ff5252 !important;
}
